body, html, nav {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.coverimage, .infoimage, .historyimage, .infocoverimage, .infospeargrassimage {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.coverimage {
  background-image: url("img/cover.jpg");
  min-height: 60%;
  top: 10px;
}

.infoimage {
  background-image: url("img/cairn2.jpg");
  min-height: 400px;
}

.historyimage {
  background-image: url("img/mitchells1.jpg");
  min-height: 400px;
}

.infocoverimage {
  background-image: url("img/gates.jpg");
  min-height: 80%;
  top: 10px;
}

.infospeargrassimage {
  background-image: url("img/speargrass1.jpg");
  min-height: 80%;
  top: 10px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 65px;
  letter-spacing: 5px;
}

.customheader {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 30px "Lato", sans-serif;
  color: #111;
  text-align: center;
}

.customheader2 {
  letter-spacing: 2px;
  font: 15px "Lato", sans-serif;
  color: #111;
  text-align: center;
}


.infobox {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

/* We don't want it working on phones :P; */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

#primary_nav_wrap
{
  margin-top:15px
}

#primary_nav_wrap ul
{
  list-style:none;
  position:absolute;
  float:left;
  margin:0;
  padding:0;
}

#primary_nav_wrap ul label, ul a, ul button
{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:12px;
  line-height:32px;
  padding:0 15px;
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
  background:#ddd
}

#primary_nav_wrap ul li:hover
{
  background:#f6f6f6
}

#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
  width:105px
}

#primary_nav_wrap ul ul label, ul ul a, ul ul button
{
  line-height:120%;
  padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block
}

.box {
  position: absolute; 
  z-index: 1;
  width: 100%;
  top: -10%; 
}
 
 .boxa {
  position: relative; 
  left: 1%;
  width: 120%; 
  height: 50px; 
  z-index: 1;
  transform: translateY(70px);
}

 .boxb {
  height: 600px; 
  top: 5px;
  z-index: -1;
}

.specialbutton{
	border: none;
	background-color: #fff;

}
